[user]
	name = Wil Clouser
	email = wclouser@mozilla.com
    #signingKey = 04D1111C
	signingKey = 69C9C9207C73946E
[color]
	diff = auto
	status = auto
	branch = auto
[core]
    excludesfile = /home/clouserw/.gitignore
[alias]
    ci = commit
    co = checkout
[push]
    default = matching
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
