[user]
	name = Wil Clouser
	email = clouserw@micropipes.com
  signingKey = FC29BB4EC732B90D

# If this file exists, it overrides my email/key for Mozilla
[include]
  path = ~/.gitconfig-mozilla

[color]
	diff = auto
	status = auto
	branch = auto
[core]
    excludesfile = ~/.gitignore
[alias]
    ci = commit
    co = checkout
[push]
    default = matching
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[diff]
	tool = vimdiff
[difftool]
	prompt = false
